NODE_ENV=

SERVER_PORT= #OPTIONAL (DEFAULT: 3000)

DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

HASH_SALT_ROUNDS= #OPTIONAL (DEFAULT: 10)

JWT_ACCESS_SECRET_KEY=
JWT_ACCESS_EXPIRES_IN= #OPTIONAL (DEFAULT: 1h)
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRES_IN= #OPTIONAL (DEFAULT: 7d)
JWT_AUDIENCE=
JWT_ISSUER=

# Root user credentials (all optional with defaults)
ROOT_USER_EMAIL=
ROOT_USER_PASSWORD=
ROOT_USER_NAME=
ROOT_USER_LASTNAME=
ROOT_USER_PHONE=